body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
    font-size: 30px;
    color: white;
    background-color: black;
    #background-color: green;
    margin: 0px 0px 20px 0px;
    width: 700px;
}

.menu {
    position: absolute;
    top: 100px;
    left: 100px;
}

.ui-button {
    width: 300px;
    height: 50px;
    margin: 5px;
}