doctype html
html
  head
    title= title
    link(rel='stylesheet', href='javascripts/jquery-ui-1.12.1/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery-3.2.0.js')
    script(src='javascripts/jquery-ui-1.12.1/jquery-ui.js')
    script.
        function buttonClick(url) {
            document.location.href = url;
        }
  body
    block content
